body {
  background-color: #ffebee;
}

.title {
  color: #b71c1c;
}

.main {
  color: #c62828;
}

.sub {
  color: #e57373;
}

.post-tag, .post-category {
  background-color: #b71c1c;
  color: #ffebee;
}
p>code {
  background-color: #ffcdd2;
  color: #b71c1c;
}

ul.pagination li.page-item {
  background-color: #e57373;
  color: #ffebee;
}
ul.pagination li.page-item.active {
  background-color: #b71c1c;
}