body {
  background-color: #212121;
}

.title {
  color: #fafafa;
}

.main {
  color: #f5f5f5;
}

.sub {
  color: #757575;
}

.post-tag, .post-category, p>code {
  border-radius: 10%;
  background-color: #757575;
  color: #212121;
  padding: 1px 5px;
}