/* common */
* {
  color: inherit;
}
body {
  margin: 0 auto;
}
a {
  text-decoration: none;
  opacity: 80%;
}
a:hover {
  opacity: 70%;
}

/* header */
#content-header {
  padding: 10px 0px;
}
#content-header .site-title {
  font-size: 2em;
  font-weight: 900;
  display: inline-block;
}
#content-header .site-sub-title {
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
}

#main-menu-nav-items {
  margin: 20px 0px 10px 0px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#main-menu-nav-items .nav-item {
  text-align: center;
}

/* post list */
.post-list {
  marker: none;
}
.post-list li.post-item {
  display: block;
  margin: 10px 0px;
}
.post-list li.post-item .post-date  {
  font-size: 0.9em;
}
.post-list li.post-item .post-title {
  font-weight: 600;
}

/* content */

/* code, tag, category */
.post-tag, .post-category, p>code {
  border-radius: 10%;
  padding: 1px 5px;
}

/* content footer */
.content-footer-item {
  margin: 5px;
}
.neighbor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* see also */
.related-tag-category-list {
  margin: 10px;
}
.related-tag-category-list .more-area {
  text-align: right;
}

/* pagination */
ul.pagination {
  text-align: center;
}
ul.pagination li {
  display: inline;
  padding: 10px;
}

/* footer */
#content-footer {
  text-align: center;
  font-size: 0.8em;
}

/* terms */
/* archives */
#archives-items > .archives-item.mo {
  margin-left: 2rem;
}

/* responsive */
/* Desktop styles */
@media only screen and (min-width: 860px) {
}

@media only screen and (min-width: 768px) {
  body {
      max-width: 800px;
      width: 90%;
  }
  img {
      width: 100%;
  }
}

/* High-DPI mobile styles */
@media only screen and (max-width: 768px) {
  body {
      max-width: 90%;
  }
  img {
      max-width: 100%;
  }
}

/* Low-DPI mobile styles */
@media only screen and (max-width: 414px) {
  body {
      max-width: 90%;
  }
  img {
      max-width: 100%;
  }
}