$colors:(
  default:(
    bold: #263238,
    main: #37474f,
    sub: #78909c,
    subsub: #cfd8dc,
    bg: #eceff1,
  ),
  dark:(
    bold: #fafafa,
    main: #f5f5f5,
    sub: #757575,
    subsub: #424242,
    bg: #212121,
  ),
  red:(
    bold: #b71c1c,
    main: #c62828,
    sub: #e57373,
    subsub: #ffcdd2,
    bg: #ffebee,
  ),
  green:(
    bold: #1b5e20,
    main: #2e7d32,
    sub: #81c784,
    subsub: #c8e6c9,
    bg: #e8f5e9,
  ),
  blue:(
    bold: #1a237e,
    main: #283593,
    sub: #7986cb,
    subsub: #c5cae9,
    bg: #e8eaf6,
  ),
);

@each $title, $type in $colors {
  body.theme-#{$title} {

    background-color: map-get($type, bg);
    .title {
      color: map-get($type, bold);
    }
    .main {
      color: map-get($type, main);
    }
    .sub {
      color: map-get($type, sub);
    }
    .post-tag, .post-category {
      background-color: map-get($type, bold);
      color: map-get($type, bg);
    }
    :not(.highlight)>*>code {
      background-color: map-get($type, subsub);
      color: map-get($type, bold);
    }

    ul.pagination li.page-item {
      background-color: map-get($type, sub);
      color: map-get($type, bg);
    }
    ul.pagination li.page-item.active {
      background-color: map-get($type, bold);
    }
  }
}
