body {
  background-color: #eceff1;
}

.title {
  color: #263238;
}

.main {
  color: #37474f;
}

.sub {
  color: #78909c;
}

.post-tag, .post-category, p>code {
  border-radius: 10%;
  background-color: #78909c;
  color: #eceff1;
  padding: 1px 5px;
}

ul.pagination li.page-item {
  background-color: #78909c;
  color: #eceff1;
}
ul.pagination li.page-item.active {
  background-color: #263238;
}