{{define "main"}}

<h2>{{ .Title }}</h2>
<ul id="term-item-list">
{{ if eq .Title "Tags"}}
    {{ if lt 0 (len .Site.Taxonomies.tags) }}
        {{ range sort .Site.Taxonomies.tags.ByCount "Name" }}
        <li class="tag-item"><a href="{{ $.Site.BaseURL }}/tags/{{ .Name | urlize }}/">{{ .Page.Title }}<span> ({{ .Count }})</span> </a></li>
        {{ end }}
    {{ end }}
{{ else if eq .Title "Categories"}}
    {{ if lt 0 (len .Site.Taxonomies.categories) }}
        {{ range sort .Site.Taxonomies.categories.ByCount "Name" }}
        <li class="category-item"><a href="{{ $.Site.BaseURL }}/categories/{{ .Name | urlize }}/">{{ .Page.Title }}<span> ({{ .Count }})</span></a></li>
        {{ end }}
    {{ end }}
{{ else if eq .Title "Archives"}}
    {{ if lt 0 (len .Site.Taxonomies.archives) }}
        {{ range $name, $items := .Site.Taxonomies.archives }}
        <li class="archives-item {{ if gt (len $name) 5 }}mo{{ end }}"><a href="{{ $.Site.BaseURL }}/archives/{{ $name | urlize | lower }}/">{{ $name }} ({{ .Count }})</a></li>
        {{ end }}
    {{ end }}
{{ end }}
</ul>

{{end}}