{{ $site_obj_t := .Site }}
{{ range .Params.categories }}
    {{ $t := . }}
    {{ $tposts := index $site_obj_t.Taxonomies.categories (replace (lower $t) " " "-") }}
    {{ if gt (len $tposts) 1 }}
    <div class="related-tag-category-list">
        <h4>Other posts tagged by "{{ $t }}"</h3>
        <ul class="post-list">
          {{ range first 3 $tposts }}
            {{ partial "li.html" (dict "context" . "isIndex" false) }}
          {{ end }}
        </ul>
        <div class="more-area">
          {{ if gt (len $tposts) 3 }}
          <a class="more" href='/categories/{{ replace (lower $t) " " "-" }}/'>more ...</a>
          {{ else }}
          <a class="more" href="/categories/">other categories</a>
          {{ end }}
      </div>
        </div>
    {{ end }}
{{ end }}
