/* common */
* {
  color: inherit;
}
body {
  margin: 0 auto;
}
a {
  text-decoration: none;
  opacity: 80%;
  line-height: 1.5em;
  &:hover {
    opacity: 70%;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

blockquote {
  font-style: italic;
}

/* header */
#content-header {
  padding: 10px 0px;
  .site-title {
    font-size: 2em;
    font-weight: 900;
    display: inline-block;
  }
  .site-sub-title {
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
  }
}

#main-menu-nav-items {
  margin: 20px 0px 10px 0px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  .nav-item {
    text-align: center;
  }
}

#header-image-area {
  margin: 5px 0px -10px 0px;
  img.header-image {
    width: 100%;
    height: auto;
  }
}

/* post list */
.post-list {
  marker: none;
  padding-inline-start: 0px;
  li.post-item {
    display: block;
    margin: 10px 0px 20px 0px;
    .post-date  {
      font-size: 0.9em;
    }
    .post-title {
      font-weight: 600;
    }
    .post-summary {
      font-size: 0.8em;
    }
    .post-summary p {
      margin: 0px;
    }
  }
}

/* content */
/* head */
#content {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
  }

  h1 {
    margin: 30px 0px 10px 0px;
  }

  h2, h3, h4, h5, h6 {
    margin: 20px 0px 10px 0px;
  }
}

/* code, tag, category */
pre {
  padding: 10px;
}
.post-tag, .post-category, :not(.highlight)>*>code {
  border-radius: 4px;
  padding: 2px 5px;
}
div.highlight > pre {
  overflow-x: scroll;
}

/* content footer */
.content-footer-item {
  margin: 5px;
}
.neighbor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 5px;
}

/* see also */
.related-tag-category-list {
  margin: 10px;
  .more-area {
    text-align: right;
  }
}

/* pagination */
ul.pagination {
  text-align: center;
  margin: 30px 0px;
  padding-inline-start: 0px;
  li.page-item {
    display: inline;
    padding: 6px;
    margin: 4px;
    border-radius: 10%;
    font-size: 0.9em;
    &.disabled {
      opacity: 40%;
    }
  }
}

/* footer */
#content-footer {
  text-align: center;
  font-size: 0.8em;
  margin: 20px 0px 10px 0px;
}

/* terms */
/* archives */
#term-item-list li {
  font-size: 1.1em;
  margin: 4px;
}
#term-item-list > .archives-item.mo {
  margin-left: 2rem;
}

.block-separater {
  margin: 20px 0px 0px 0px;
}

/* responsive */
/* Desktop styles */
@media only screen and (min-width: 860px) {
}

@media only screen and (min-width: 768px) {
  body {
      max-width: 800px;
      width: 90%;
  }
  img {
      width: 100%;
  }
}

/* High-DPI mobile styles */
@media only screen and (max-width: 768px) {
  body {
      max-width: 90%;
      font-size: 14px;
  }
  img {
      max-width: 100%;
  }
  .neighbor {
    grid-template-columns: 1fr;
  }
  .neighbor > div {
    margin: 5px 0px;
  }
}

/* Low-DPI mobile styles */
@media only screen and (max-width: 414px) {
  body {
      max-width: 90%;
      font-size: 14px;
  }
  img {
      max-width: 100%;
  }
  .neighbor {
    grid-template-columns: 1fr;
  }
  .neighbor > div {
    margin: 5px 0px;
  }
}